<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Restablece tu contraseña</h1>
  <h3>Hola {{user.name}},</h3>
  <p>
    Hemos recibido que has solicitado restablecer la contraseña de tu cuenta {{
    user.email
    }}.
    <br />
    Para hacerlo, por favor, presiona el siguiente botón:
  </p>
  <a href="{{resetLink}}" target="_blank">
    <button>
      Restablecer contraseña
    </button>
  </a>

  <p>Si no solicitaste restablecer tu contraseña, ignora este mensaje y no se realizará ningún cambio a tu cuenta.</p>

  <br />

  <p>
    Saludos,
    <br />
    PPG Team
  </p>
</body>

</html>