<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Contraseña restablecida</h1>
  <h3>Hola {{user.name}},</h3>
  <p>
    Tu contraseña ha sido restablecida exitosamente.

    ¡Esperamos que sigas descubriendo perfiles profesionales!
  </p>

  <br />

  <p>
    Saludos,
    <br />
    PPG Team
  </p>
</body>

</html>