<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil</title>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      padding: 20px 10px;
      background-color: #1f53b4;
      color: white;
      display: flex;
      flex-direction: row;
    }

    img {
      width: 100%;
      border-radius: 50%;
      width: 128px;
      height: 128px;
    }

    #img-container {
      margin: 12px;
    }
  </style>
</head>

<body>
  <header>
    <div id="img-container">
      <img src="https://res.cloudinary.com/jean-cloudinary/image/upload/v1657051705/ppg/sjsjxjug2t44zpaoyv8j.jpg">
    </div>
    <div>
      <h1>Jeanpier Mendoza</h1>
      <h2>Frontend Developer</h2>
    </div>
  </header>

  <p></p>

  <section>
    <a href="https://www.linkedin.com/in/jeanpier-mendoza-navarro-810b05200/">LinkedIn</a>

    <a href="https://github.com/jeanpierm">LinkedIn</a>

    <a href="www.jeanpier.com">Portfolio</a>
  </section>

  <section>
    <h3>Technical (IT) Skills</h3>

    <article>
      <h4>Languages</h4>
      <ul>
        <li>CSS</li>
        <li>HTML</li>
        <li>JavaScript</li>
      </ul>
    </article>

    <article>
      <h4>Frameworks</h4>
      <ul>
        <li>ReactJS</li>
        <li>VueJS</li>
        <li>Angular</li>
      </ul>
    </article>

    <article>
      <h4>Bases de datos</h4>
      <ul>
        <li>Microsoft SQL Server</li>
        <li>MySQL</li>
      </ul>
    </article>

    <article>
      <h4>Librerías</h4>
      <ul>
        <li>jQuery</li>
        <li>Bootstrap</li>
      </ul>
    </article>

    <article>
      <h4>Patrones</h4>
      <ul>
        <li>Redux</li>
        <li>Flux</li>
        <li>REST</li>
        <li>AJAX</li>
        <li>MVC</li>
        <li>SOAP</li>
      </ul>
    </article>

    <article>
      <h4>Herramientas</h4>
      <ul>
        <li>Webpack</li>
        <li>Amazon Web Services (AWS)</li>
        <li>Git</li>
      </ul>
    </article>
  </section>
</body>

</html>