<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil</title>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      padding: 20px 10px;
      background-color: #1f53b4;
      color: white;
      display: flex;
      flex-direction: row;
    }

    img {
      width: 100%;
      border-radius: 50%;
      width: 128px;
      height: 128px;
    }

    .img-container {
      margin: 12px;
    }
  </style>
</head>

<body>
  <header>
    <div class="img-container">
      {{#if user.photo}}
      <img src="{{user.photo}}">
      {{/if}}
    </div>
    <div class="names-container">
      <h1>{{user.name}} {{user.surname}}</h1>
      <h2>{{profile.jobTitle}}</h2>
    </div>
  </header>
</body>

</html>