<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
  </head>
  <body>
    <h1>{{name}} {{surname}}</h1>
    <h2>{{jobTitle}}</h2>

    <p>{{biography}}</p>
    {{linkedIn}} {{github}} {{portfolio}}
    <section>
      <h3>Technical (IT) Skills</h3>
      {{languages}} {{frameworks}} {{databases}} {{libraries}} {{patterns}}
      {{tools}}
    </section>
  </body>
  <a href=""></a>
</html>
