<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear PDF con Node.js</title>
    <style>
      img {
        max-height: 250px;
      }
    </style>
  </head>

  <body>
    <h1>Creando PDF con Node.js</h1>
    <a href="https://parzibyte.me/blog">By Parzibyte</a>
    <p>Soy HTML que será convertido a un PDF</p>
    <p>El valor pasado por Node es: {{valor}}</p>
    <pre>
        <code>
            const saludo = "Hola mundo";
        </code>
    </pre>
    <p>También puedes usar imágenes de internet:</p>
    <img src="https://github.com/parzibyte.png" alt="Imagen de Parzibyte" />
    <p>O imágenes locales:</p>
    <img
      src="file:///C:/Users/parzibyte/Documents/desarrollo/node/crear-pdf/abeja.jpg"
      alt="Imagen de una abeja"
    />
  </body>
</html>
